# Analog-be

# 디비
DB_HOST=localhost
DB_PORT=5433
DB_USER=test
DB_PASSWORD=test
DB_NAME=test
DB_TLS_SKIP_VERIFY=true  # !!!!!! 실 운용시에는 무조건 FALSE

# An Account OAuth2
AN_ACCOUNT_BASE_URL=https://accounts.ana.st
AN_ACCOUNT_RESOURCE_SERVER_ID=anarchive
AN_ACCOUNT_RESOURCE_SERVER_SECRET=<ㅇㅇ>

# 포트 설정
SERVER_PORT=8080